* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide scrollbars */
  background: #0f0f0f;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  height: 100vh;
}

.gallery {
  order: 1;
  display: flex;
  justify-content: center; /* Center items horizontally */
  width: 100%;
  overflow: auto;
  margin-top:-500px;
  padding: 100px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 2 30px;
  height: 180px;
  margin: 2px;
  background: #0f0f0f;
  overflow: auto;
  transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item img {
  width: 90px;
  height: 70%;
  object-fit: contain;
  transform: scale(2.1);
}

.table-container {
  flex:1;
  position: absolute;
  top: 70%;
  left: 50%;
  max-height: 500px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}
